body {
display: flex;
flex-direction: column;
font-family: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

    nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
    background-color: rgb(23, 23, 61);

    }

    nav > ul {
        display: flex;
        justify-content: space-evenly;
        text-decoration: none;
        color:white;
        list-style-type: none;
        margin: 0
        }

    nav ul li a {
        display: block;
        padding: 0.6rem 1rem;
        text-decoration: none;
        background-color:black;
        border: solid 1px white;
        border-radius: 0.5rem;
        color: white;
        &:hover,
        &.active {
        background-color: rgb(140, 143, 190);
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(layout-01-assets/img11.jpg);
        background-repeat: no-repeat;
        height: 30vh;
        margin-bottom: 45px;
    }

    header > h1, header {
        color: white;
    }

.card-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 980px;
    margin: 0 auto;
    justify-content: space-between;

}

    .card {
        background: lightgrey;
        display: flex;
        flex-flow: column nowrap;

    }
    
    .one-third {
        flex-basis: 32%;
    }

    .half {
        flex-basis: 49%;
    }

    .First > h2 {
        color: green;
        margin-left: 250px;
    }

    .First>a{
        border: solid 1px green;
        padding: 0.6rem 1rem;
        background-color: green;
        border-radius: 0.5rem;
        color: white
    }

    .Second{
        margin-top: 45px;
    }